[Unit]
Description=Iptables load rules after boot
After=network.target

[Service]
Type=oneshot
ExecStart={{ task.settings.bin }}

[Install]
WantedBy=multi-user.target
