[Unit]
Description={{ description }} [{{ instance }}]
After=network.target

[Service]
Type=simple
User={{ task.settings.user }}
Group={{ task.settings.user }}
ExecStart={{ task.settings.bin }}
WorkingDirectory={{ task.settings.home_abs }}
LimitNOFILE={{ limit_nofile }}

Environment=PYTHONPATH={{ task.settings.home_abs }}
Environment=SETTINGS={{ task.settings.module }}
Environment=SETTINGS_DEPLOY_COMPONENTS_APP_INSTANCE={{ instance }}

[Install]
WantedBy=multi-user.target
