{% set port = settings.port + instance -%}
[Unit]
Description={{ settings.description }} [{{ port }}]
After=network.target

[Service]
Type=simple
User={{ settings.user }}
Group={{ settings.user }}
ExecStart={{ settings.bin }}
WorkingDirectory={{ settings.home_abs }}
LimitNOFILE={{ settings.limit_nofile }}

Environment=PYTHONPATH={{ settings.home_abs }}
Environment=SETTINGS={{ settings.module }}
Environment=SETTINGS_WEB_PORT={{ port }}
Environment=SETTINGS_WEB_HOST={{ settings.host }}

[Install]
WantedBy=multi-user.target app.target
